.containerHero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.leftText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcomeText {
    background: linear-gradient(90.11deg, #9756c8 -15.54%, cyan 173.68%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.6px;
}

.leftText h1 {
    max-width: 440px;

    margin-top: 18px;

    color: #1b2230;
    font-weight: 600;
    font-size: 43px;
}

.leftText p {
    margin-top: 18px;

    color: #5f646e;
    font-size: 19.5px;
    text-align: left;
    line-height: 30px;

}

.info {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 80px;
}

.info button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 30px;

    background-color: #17A5E6;
    border-radius: 4px;

    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.info button:hover {
    background-color: #0e84b9;
    cursor: pointer;
    transition: all 0.3s ease;
}

.info button img {
    width: 30px;
    height: 30px;

    margin-right: 10px;
}

.info span {
    font-size: 17px;
    font-weight: 500;
    color: #5f646e;

}

.rightImages {
    width: 100%;
    min-width: 780px;
    min-height: 600px;

    display: flex;
    justify-content: flex-end;

    position: relative;
}

.bannerImage {
    max-width: 100%;
    min-width: 550px;
    min-height: 650px;

    position: absolute;
    top: 0;
    right: 0;
}

.card {
    width: 250px;
    height: 240px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    box-shadow: 4px 12px 40px -8px rgba(58, 131, 163, 0.1);
    border-radius: 2px;
}

.card img {
    width: 200px;
    height: 200px;
}

.card2 {
    width: 260px;
    height: 80px;

    position: absolute;
    left: 24px;
    bottom: 152px;
}

.card3 {
    width: 241px;
    height: 80px;

    position: absolute;
    left: 39px;
    bottom: 64px;
}

.cardIcon {
    height: 90px;
    width: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 56px;
    right: -44px;

    background-color: #ffffff;
    box-shadow: 16px 16px 40px rgba(58, 131, 163, 0.1);
    border-radius: 2px;
}

.cardIcon img {
    height: 70px;
    width: 70px;
}